<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Fix class attribute for grid with 1 column [FEATURE-grid-3]</f:comment>
<div class="{f:if(condition: '{class->f:spaceless()}', then: class, else: 'col')}">
    <f:for each="{contentElements}" as="child">
        <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
    </f:for>
</div>

</html>
