<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    EXT:felogin [FEATURE-login-1]
    Adapt templates for Bootstrap [TASK-login-2]
    Distinguish messages (e.g. login error) with default Bootstrap styles [TASK-css-6]
</f:comment>

<f:flashMessages/>
<f:if condition="{messageKey}">
    <h2>
        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_header'}"/>
    </h2>
    <p class="message-{messageKey}">
        <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
    </p>
</f:if>
<f:if condition="{cookieWarning}">
    <f:render partial="CookieWarning" />
</f:if>
<f:if condition="{onSubmit}">
    <f:then>
        <f:form fieldNamePrefix="" action="login" onsubmit="{onSubmit}">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:then>
    <f:else>
        <f:form fieldNamePrefix="" action="login">
            <f:render section="content" arguments="{_all}"/>
        </f:form>
    </f:else>
</f:if>
<f:if condition="{settings.showForgotPassword}">
    <p>
        <f:link.action action="recovery" controller="PasswordRecovery">
            <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
        </f:link.action>
    </p>
</f:if>


<f:section name="content">
    <f:form.hidden name="logintype" value="login"/>
    <f:form.hidden name="pid" value="{storagePid}"/>
    <f:if condition="{redirectURL}!=''">
        <f:form.hidden name="redirect_url" value="{redirectURL}" />
    </f:if>
    <f:if condition="{referer}!=''">
        <f:form.hidden name="referer" value="{referer}" />
    </f:if>
    <f:if condition="{redirectReferrer}!=''">
        <f:form.hidden name="redirectReferrer" value="off" />
    </f:if>
    <f:if condition="{noRedirect}!=''">
        <f:form.hidden name="noredirect" value="1" />
    </f:if>
    {extraHidden}
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="felogin-username">
            <f:translate key="username"/>
        </label>
        <div class="col-sm-9">
            <f:form.textfield name="user" id="felogin-username" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="felogin-password">
            <f:translate key="password"/>
        </label>
        <div class="col-sm-9">
            <f:form.password name="pass" id="felogin-password" class="form-control" data="{rsa-encryption: ''}"/>
        </div>
    </div>
    <f:if condition="{permaloginStatus} > -1">
        <f:if condition="{permaloginStatus} == 2">
            <f:then>
                <f:form.hidden name="permalogin" value="1"/>
            </f:then>
            <f:else>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <f:form.checkbox name="permalogin" id="felogin-permalogin" class="custom-control-input" value="1"/>
                        <label class="custom-control-label" for="felogin-permalogin">
                            <f:translate key="permalogin"/>
                        </label>
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:if>
    <div class="form-group">
        <f:form.submit value="{f:translate(key: 'login')}" name="submit" class="btn btn-primary"/>
    </div>
</f:section>
</html>
