<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:felogin: Adapt templates for Bootstrap [TASK-login-2]</f:comment>

<h2>
    <f:translate key="logout"/>
</h2>
<f:if condition="{cookieWarning}">
    <f:render partial="CookieWarning"/>
</f:if>

<f:form action="login" actionUri="{actionUri}" target="_top" fieldNamePrefix="">
    <f:form.hidden name="pid" value="{storagePid}"/>
    <f:form.hidden name="logintype" value="logout"/>
    <div class="form-group">
        <f:form.submit value="{f:translate(key: 'logout')}" name="submit" class="btn btn-primary"/>
    </div>
</f:form>
</html>
