<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:is="http://typo3.org/ns/TYPO3/CMS/IndexedSearch/ViewHelpers"
      xmlns:t3b="http://typo3.org/ns/SBTheke/T3basic/ViewHelpers/IndexedSearch"
      data-namespace-typo3-fluid="true">

<f:comment>
    Provide layout template [TASK-search-4]
    Adapt templates for Bootstrap [TASK-search-5]
    Enhancement of indexed_search PageBrowsing ViewHelper class [TASK-search-2]
</f:comment>

<f:layout name="Default" />

<f:section name="Main">

    <f:alias map="{sword: searchParams.sword}">
        <f:render partial="Form" arguments="{_all}" />
    </f:alias>
    <f:for each="{resultsets}" as="result">
        <f:if condition="{result.categoryTitle}">
            <h1>{result.categoryTitle}</h1>
        </f:if>
        <f:if condition="{result.searchedInSectionInfo}">
            <!-- show the info in which section was searched for -->
            <p>{result.searchedInSectionInfo}</p>
        </f:if>
        <f:if condition="{result.count} > 0">
            <f:then>
                <p>
                    <is:pageBrowsingResults numberOfResults="{result.count}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}" />
                    {result.sectionText}
                </p>
                <!-- render the anchor-links to the sections inside the displayed result rows -->
                <f:if condition="{result.affectedSections}">
                    <div class="list-group">
                        <f:for each="{result.affectedSections}" as="sectionData" key="sectionId">
                            <a href="#anchor_{sectionId}" class="list-group-item">
                                <span class="badge">
                                    {sectionData.1}
                                    <f:translate key="{f:if(condition: '{sectionData.1} > 1', then: 'word_pages', else: 'word_pages')}" />
                                </span>
                                <f:if condition="{sectionData.0}">
                                    <f:then>{sectionData.0}</f:then>
                                    <f:else><f:translate key="result.unnamedSection" /></f:else>
                                </f:if>
                            </a>
                        </f:for>
                    </div>
                </f:if>
                <div class="media-list">
                    <f:for each="{result.rows}" as="row">
                        <f:if condition="{row.isSectionHeader}">
                            <f:then>
                                <div id="anchor_{row.sectionId}" class="media">
                                    <h3 class="media-heading">
                                        <f:format.html>{row.sectionTitle}</f:format.html>
                                        <span class="tx-indexedsearch-result-count">
                                            {row.numResultRows} <f:translate key="{f:if(condition: '{row.numResultRows} > 1', then: 'result.pages', else: 'result.page')}" />
                                        </span>
                                    </h3>
                                </div>
                            </f:then>
                            <f:else>
                                <f:render partial="Searchresult" arguments="{row: row}" />
                            </f:else>
                        </f:if>
                    </f:for>
                </div>
                <nav aria-label="{f:translate(key: 'indexed_search.pageBrowsing.aria', extensionName: 't3basic')}" />
                <t3b:pageBrowsing numberOfResults="{result.count}" maximumNumberOfResultPages="{settings.page_links}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}" />
            </f:then>
            <f:else>
                <div class="alert alert-info">
                    <f:translate key="result.noResult" />
                </div>
            </f:else>
        </f:if>
    </f:for>

</f:section>
</html>
