<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:indexed_search: Adapt templates for Bootstrap [TASK-search-5]</f:comment>

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <f:if condition="{settings.displayResultNumber}">
                <span class="tx-indexedsearch-result-number">{row.result_number}</span>
            </f:if>
            <f:format.raw>{row.title}</f:format.raw>
            <span>{row.rating}</span>
        </h4>
        <f:if condition="{row.headerOnly} == 0">
            <p><f:format.crop maxCharacters="{settings.results.summaryCropAfter}">{row.item_description}</f:format.crop></p>
        </f:if>
        <f:if condition="{row.subresults}">
            <f:for each="{row.subresults.items}" as="subrow">
                <f:render partial="Searchresult" arguments="{row: subrow}" />
            </f:for>
        </f:if>
    </div>
</div>
</html>
