<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="section section-contentbefore">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 8, slide: '{theme.pagelayout.{pagelayout}.colPos.8.slide}'}" />
    </div>
    <div class="section section-default">
        <div class="container">
            <div class="section-row">
                <main class="section-column maincontent-wrap">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0, slide: '{theme.pagelayout.{pagelayout}.colPos.0.slide}'}" />
                </main>
                <div class="section-column subcontent-wrap">
                    <f:render partial="Navigation/Subnavigation" arguments="{_all}" />
                    <f:comment>Enable content below subnav [FEATURE-belayout-3]</f:comment>
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 1, slide: '{theme.pagelayout.{pagelayout}.colPos.1.slide}'}" />
                </div>
            </div>
        </div>
    </div>
</f:section>
<f:section name="Footer">
    <f:render partial="Structure/FooterContent" arguments="{_all}" />
</f:section>
</html>
