<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="section section-contentbefore">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 8, slide: '{theme.pagelayout.{pagelayout}.colPos.8.slide}'}" />
    </div>
    <f:comment>Optimize page templates: Add tag "main" [TASK-template-2]</f:comment>
    <main class="section section-default">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0, slide: '{theme.pagelayout.{pagelayout}.colPos.0.slide}'}" />
    </main>
</f:section>
</html>
