<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Set correct classes for Bootstrap 4 [BUGFIX-template-1]
    Remove deprecated attribute "intrinsicsize" for images (https://github.com/benjaminkott/bootstrap_package/issues/963) [BUGFIX-template-3]
    Disable lazy loading of images because of problems with interactive elements [TASK-image-1]
</f:comment>
<picture>
    <f:for each="{variants}" key="name" as="variant">
        <f:variable name="breakpoint">{variant.breakpoint as integer}</f:variable>
        <f:variable name="width">{variant.width as integer}</f:variable>
        <f:if condition="{width}">
            <f:variable name="mediaQuery">{f:if(condition: breakpoint, then: 'media="(min-width: {breakpoint}px)"')}</f:variable>
            <f:if condition="{variant.sizes}">
                <f:variable name="srcset" value="" />
                <f:for each="{variant.sizes}" key="sizeKey" as="sizeConfig" iteration="iteration">
                    <f:variable name="sizeWidth">{sizeConfig.multiplier as float}</f:variable>
                    <f:variable name="sizeWidth">{sizeWidth * width}</f:variable>
                    <f:variable name="srcset">{srcset}{f:uri.image(image: file, cropVariant: name, maxWidth: sizeWidth)} {sizeKey}{f:if(condition: iteration.isLast, else: ',')}</f:variable>
                </f:for>
            </f:if>
            <source data-variant="{name}" data-maxwidth="{width}" {mediaQuery->f:format.raw()} srcset="{srcset}">
        </f:if>
    </f:for>
    <img src="{f:uri.image(image: file, cropVariant: 'default', maxWidth: variants.default.width)}" width="{bk2k:lastImageInfo(property: 'width')}" height="{bk2k:lastImageInfo(property: 'height')}" title="{file.title}" alt="{file.alternative}" class="figure-img img-fluid">
</picture>
</html>
