<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:comment>Bootstrap 4 HTML for Paginate ViewHelper [TASK-newstemplate-8]</f:comment>
<f:if condition="{configuration.insertAbove}">
    <f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
    <f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:section name="paginator">
    <f:if condition="{pagination.numberOfPages} > 1">
        <f:if condition="{settings.list.paginate}">
            <f:if condition="{pagination.previousPage}">
                <f:if condition="{pagination.previousPage} > 1">
                    <f:then>
						<n:headerData>
							<link rel="prev" href="{f:widget.uri(arguments: {currentPage: pagination.previousPage})->f:format.htmlentities()}" />
						</n:headerData>
                    </f:then>
                    <f:else>
						<n:headerData>
							<link rel="prev" href="{f:widget.uri()->f:format.htmlentities()}" />
						</n:headerData>
                    </f:else>
                </f:if>
            </f:if>
            <f:if condition="{pagination.nextPage}">
				<n:headerData>
					<link rel="next" href="{f:widget.uri(arguments: {currentPage: pagination.nextPage})->f:format.htmlentities()}" />
				</n:headerData>
            </f:if>
        </f:if>
        <nav aria-label="{f:translate(key: 'news.pageBrowsing.aria', extensionName: 't3basic')}">
			<p>
				<f:translate key="paginate_overall" arguments="{0: pagination.current, 1: pagination.numberOfPages}" />
			</p>
            <ul class="pagination">
                <f:if condition="{pagination.previousPage} > 0">
                    <f:then>
                        <li class="page-item previous">
                            <f:if condition="{pagination.previousPage} > 1">
                                <f:then>
                                    <f:widget.link arguments="{currentPage: pagination.previousPage}" class="page-link">
                                        <f:translate key="paginate_previous" />
                                    </f:widget.link>
                                </f:then>
                                <f:else>
                                    <f:widget.link class="page-link">
                                        <f:translate key="paginate_previous" />
                                    </f:widget.link>
                                </f:else>
                            </f:if>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="page-item previous disabled">
                            <span class="page-link">
                                <f:translate key="paginate_previous" />
                            </span>
                        </li>
                    </f:else>
                </f:if>
                <f:if condition="{pagination.displayRangeStart} > 1">
                    <li class="page-item">
                        <f:widget.link class="page-link">1</f:widget.link>
                    </li>
                </f:if>
                <f:if condition="{pagination.hasLessPages}">
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                </f:if>
                <f:for each="{pagination.pages}" as="page">
                    <li class="page-item{f:if(condition: page.isCurrent, then: ' active')}">
                        <f:if condition="{page.number} > 1">
                            <f:then>
                                <f:widget.link arguments="{currentPage: page.number}" class="page-link">{page.number}</f:widget.link>
                            </f:then>
                            <f:else>
                                <f:widget.link class="page-link">{page.number}</f:widget.link>
                            </f:else>
                        </f:if>
                    </li>
                </f:for>
                <f:if condition="{pagination.hasMorePages}">
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                </f:if>
                <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                    <li class="page-item">
                        <f:widget.link arguments="{currentPage: pagination.numberOfPages}" class="page-link">
                            {pagination.numberOfPages}
                        </f:widget.link>
                    </li>
                </f:if>
                <f:if condition="{pagination.nextPage} > 1">
                    <f:then>
                        <li class="page-item next">
                            <f:widget.link arguments="{currentPage: pagination.nextPage}" class="page-link">
                                <f:translate key="paginate_next" />
                            </f:widget.link>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="page-item next disabled">
                            <span class="page-link">
                                <f:translate key="paginate_next" />
                            </span>
                        </li>
                    </f:else>
                </f:if>
            </ul>
        </nav>
    </f:if>
</f:section>
</html>
