<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:news: Optimize list of tags (comma separated) [TASK-newstemplate-7]</f:comment>

<span class="news-list-tags" itemprop="keywords">
    <f:for each="{tags}" as="tag" iteration="i">
        {tag.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if>
    </f:for>
</span>

</html>
