<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Adapt template "None" (can be used for popups) [TASK-template-8]</f:comment>
<f:render section="Main" />
</html>
