<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>Provide layout template for content elements of EXT:gridelements [TASK-gridelements-1]</f:comment>
<div class="tx-gridelements">
	<f:render section="Main" />
</div>

</html>
