<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{data.header_layout} != 100">
    <f:if condition="{data.header} || {data.subheader} || {data.date}">

        <f:comment>
            Automatic headers [FEATURE-headings-1]
            If header type "Default" was chosen:
            H1 for first header in main content column
            H2 for all headers in main content column
            H3 for all headers not in main content column or in grids
            You can change these settings in TS setup in EXT:t3basic/Configuration/TypoScript/Setup/Extension/bootstrap_package.typoscript
        </f:comment>
        <f:if condition="{v:variable.register.get(name: 'firstHeader')}">
            <f:else>
                <v:variable.register.set name="firstHeader" value="1" />
            </f:else>
        </f:if>
        <f:if condition="{data.header_layout}">
            <f:then>
                <f:variable name="layout">{data.header_layout}</f:variable>
            </f:then>
            <f:else>
                <f:variable name="layout">{settings.header.defaultHeaderType.default}</f:variable>
                <f:if condition="{data.colPos}">
                    <f:variable name="layout">{settings.header.defaultHeaderType.defaultSub}</f:variable>
                </f:if>
                <f:if condition="{data.tx_gridelements_container}">
                    <f:variable name="layout">{settings.header.defaultHeaderType.defaultSub}</f:variable>
                </f:if>
                <f:if condition="{v:variable.register.get(name: 'firstHeader')} == 1">
                    <f:if condition="{data.colPos}">
                        <f:else>
                            <f:if condition="{data.tx_gridelements_container}">
                                <f:else>
                                    <f:variable name="layout">{settings.header.defaultHeaderType.first}</f:variable>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:if>
            </f:else>
        </f:if>
        <v:variable.register.set name="firstHeader" value="2" />

        <header class="frame-header">
            <f:render partial="Header/Header" arguments="{
                header: data.header,
                layout: layout,
                class: settings.header.class,
                positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}',
                link: data.header_link,
                data: data}" />
            <f:render partial="Header/SubHeader" arguments="{
                subheader: data.subheader,
                layout: layout,
                class: settings.subheader.class,
                positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}',
                default: settings.header.defaultHeaderType}" />
            <f:render partial="Header/Date" arguments="{
                date: data.date,
                format: settings.header.date.format,
                positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}'}" />
        </header>
    </f:if>
</f:if>
</html>
