<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"><f:spaceless>

<f:comment>
    Only output of plugin, e.g. for RSS feed of EXT:news [FEATURE-newsrss-1]
    Because we use this for XML output, the "spaceless" ViewHelper is important.
</f:comment>
<f:cObject typoscriptObjectPath="tt_content.list.20.{data.list_type}" data="{data}" />

</f:spaceless>
</html>
