<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Optimize content element "Uploads": add "download" attribute [TASK-contentelement-1]</f:comment>
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{files}">
        <ul class="media-list">
            <f:for each="{files}" as="file" iteration="fileIterator">
                <li class="media">
                    <f:if condition="{data.uploads_type} == 2">
                        <f:if condition="{file -> bk2k:file.isImage()} || {file -> bk2k:file.isMedia()}">
                            <f:if condition="{f:uri.image(src: 'file:{f:if(condition: file.originalFile, then: \'file:{file.originalFile.uid}\', else: \'file:{file.uid}\')}')} != '/'">
                                <div class="media-left">
                                    <a href="{file.publicUrl}"{f:if(condition: file.properties.title, then: ' title="{file.properties.title}"')}{f:if(condition: data.target, then: ' target="{data.target}"')} download="">
                                        <f:media file="{file}" width="{settings.uploads.preview.width}" height="{settings.uploads.preview.height}" alt="{file.properties.alternative}" />
                                    </a>
                                </div>
                            </f:if>
                        </f:if>
                    </f:if>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{file.publicUrl}"{f:if(condition: file.properties.title, then: ' title="{file.properties.title}"')}{f:if(condition: data.target, then: ' target="{data.target}"')} download="">
                                <f:if condition="{data.uploads_type} == 1">
                                    <span class="uploads-fileicon">
                                        <f:switch expression="{f:format.case(value: file.properties.extension, mode: 'lower')}">
                                            <f:case value="mp3"><span class="bootstrappackageicon bootstrappackageicon-file-audio"></span></f:case>
                                            <f:case value="avi"><span class="bootstrappackageicon bootstrappackageicon-file-video"></span></f:case>
                                            <f:case value="mov"><span class="bootstrappackageicon bootstrappackageicon-file-video"></span></f:case>
                                            <f:case value="mpg"><span class="bootstrappackageicon bootstrappackageicon-file-video"></span></f:case>
                                            <f:case value="mpeg"><span class="bootstrappackageicon bootstrappackageicon-file-video"></span></f:case>
                                            <f:case value="mkv"><span class="bootstrappackageicon bootstrappackageicon-file-video"></span></f:case>
                                            <f:case value="jpg"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="gif"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="png"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="bmp"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="ai"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="eps"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="ico"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="tga"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="tif"><span class="bootstrappackageicon bootstrappackageicon-file-image"></span></f:case>
                                            <f:case value="youtube"><span class="bootstrappackageicon bootstrappackageicon-youtube"></span></f:case>
                                            <f:defaultCase><span class="bootstrappackageicon bootstrappackageicon-file"></span></f:defaultCase>
                                        </f:switch>
                                    </span>
                                </f:if>
                                <span class="uploads-filename">{f:if(condition: file.properties.title, then: file.properties.title, else: file.properties.name)}</span>
                            </a>
                            <f:if condition="{data.filelink_size}">
                                <span class="uploads-filesize"><f:format.bytes value="{file.properties.size}" /></span>
                            </f:if>
                        </h4>
                        <f:if condition="{data.uploads_description}">
                            <f:if condition="{file.properties.description}">
                                <p class="uploads-filedescription">{file.properties.description}</p>
                            </f:if>
                        </f:if>
                    </div>
                </li>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
