<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Set correct classes for Bootstrap 4 [BUGFIX-template-1]
    Icon for images with lightbox [FEATURE-lightbox-3]
    Show title and description in lightbox only once, if they are identical [FEATURE-lightbox-2]
</f:comment>
<figure class="image">
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}" title="{file.title}">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, variants: variants}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom} || {settings.lightbox.enabled}">
                <f:then>
                    <a href="{f:uri.image(image: file, maxHeight: settings.lightbox.image.maxHeight, maxWidth: settings.lightbox.image.maxWidth)}"
                       title="{file.title}"
                       data-lightbox-caption="{f:if(condition: '{file.description} != {file.title}', then: file.description, else: ' ')}"
                       class="{settings.lightbox.cssClass}"
                       data-lightbox-width="{bk2k:lastImageInfo(property: 'width')}"
                       data-lightbox-height="{bk2k:lastImageInfo(property: 'height')}"
                       rel="{settings.lightbox.prefix}-{data.uid}">
                        <f:render partial="Media/Rendering/Image" arguments="{file: file, variants: variants}" />
                        <span class="expand">
                            <bk2k:inlineSvg src="EXT:bootstrap_package/Resources/Public/Images/Icons/Glyphicons/search.svg" height="{settings.lightbox.icon.height}" width="{settings.lightbox.icon.width}" />
                        </span>
                    </a>
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/Image" arguments="{file: file, variants: variants}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <f:if condition="{file.description}">
        <figcaption class="figure-caption"><f:format.nl2br>{file.description}</f:format.nl2br></figcaption>
    </f:if>
</figure>
</html>
