<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Optimize templates [TASK-template-7]
    Remove unneeded classes [TASK-template-3]
    Replace section-tag with div-tag (sections need a heading) [BUGFIX-template-4]
</f:comment>
<f:if condition="{theme.meta.enable} || {theme.language.enable} || {theme.copyright.enable} || {theme.socialmedia.enable}">
    <div class="section footer-section footer-section-meta">
        <div class="container">
            <f:if condition="{theme.meta.enable}">
                <div class="footer-meta">
                    <f:render partial="Navigation/Meta" arguments="{_all}" />
                </div>
            </f:if>
            <f:if condition="{theme.copyright.enable}">
                <div class="footer-copyright">
                    <f:render partial="Structure/Copyright" arguments="{_all}" />
                </div>
            </f:if>
            <f:if condition="{theme.socialmedia.enable}">
                <div class="social-nav">
                    <f:render partial="Structure/SocialLinks" arguments="{_all}" />
                </div>
            </f:if>
        </div>
    </div>
</f:if>
</html>
