<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Optimize Fluid templates: Logical structure [TASK-template-1]</f:comment>

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<header id="page-header" class="{headerClass}">
    <div class="section header-section header-section-meta container">
        <f:cObject typoscriptObjectPath="lib.searchbox" />
        <f:if condition="{theme.metaHeader.enable}">
            <div class="header-meta">
                <f:render partial="Navigation/Header" arguments="{_all}" />
            </div>
        </f:if>
        <f:if condition="{theme.language.enable}">
            <div class="language-nav">
                <f:render partial="Navigation/Language" arguments="{_all}" />
            </div>
        </f:if>
    </div>
    <div class="section header-section header-section-main container">
        <f:if condition="{logo.normal}">
            <f:then>
                <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-image" title="{f:translate(key: 'linkToStartpage', extensionName: 't3basic')}">
                    <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" />
                </f:link.page>
            </f:then>
            <f:else>
                <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-text" title="{f:translate(key: 'linkToStartpage', extensionName: 't3basic')}">{siteTitle}</f:link.page>
            </f:else>
        </f:if>
        <f:if condition="{mainnavigation}">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'toggleNavigation', extensionName: 't3basic')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render partial="Navigation/Main" arguments="{menu: mainnavigation, theme: theme}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
            </nav>
        </f:if>
    </div>
</header>

</html>
