<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Configuration option for "permanent link in footer to scroll to top" [FEATURE-footer-1]</f:comment>
<f:if condition="{theme.t3basic.enable.scrollTop}">
    <a class="scroll-top" title="{f:translate(key: 'scrolltop', extensionName: 'bootstrap_package')}" href="#top">
        <span class="scroll-top-icon"></span>
    </a>
</f:if>

</html>
