<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Add class and icon for "link to top" [TASK-template-6]</f:comment>
<f:if condition="{data.linkToTop}">
    <p class="linkToTop">
        <a href="#top">
            <bk2k:inlineSvg src="EXT:bootstrap_package/Resources/Public/Images/Icons/Glyphicons/chevron-up.svg" />
            <f:translate key="linktop" extensionName="bootstrap_package" />
        </a>
    </p>
</f:if>
</html>
