//
// Main navigation
//
#mainnavigation {
    .navbar-nav {
        .nav-item {
            white-space: nowrap;
        }
    }
    .navbar-toggler {
        width: 22px;
    }
}

//
// Main navigation: Status
//
#mainnavigation {
    .navbar-nav > li {
        > .nav-link:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background: $primary;
            opacity: 0;
            @include transition(opacity .25s ease-in-out);
        }
        > .nav-link:focus:before,
        > .nav-link:hover:before,
        &:hover > .nav-link:before {
            opacity: .25;
        }
        &.show > .nav-link:before,
        &.active > .nav-link:before {
            opacity: .5;
        }
        @media (min-width: $grid-float-breakpoint) {
            > .nav-link:before {
                top: auto;
                left: $navbar-nav-link-padding-x;
                right: $navbar-nav-link-padding-x;
                bottom: ($nav-link-padding-y / 2);
                height: 2px;
                width: auto;
            }
        }
    }
}

//
// Main navigation: Dropdown
//
#mainnavigation {
    .dropdown-toggle:after {
        display: none;
        margin-left: auto;
        vertical-align: middle;
    }
    .dropdown-menu {
        position: absolute;
        margin: 0;
        // Align dropdown centrally [TASK-css-9]
        @media (min-width: ($grid-float-breakpoint)) {
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
    .dropdown-item {
        padding-left: $navbar-nav-link-padding-x;
        padding-right: $navbar-nav-link-padding-x;
        display: flex;
        align-items: center;
    }
    .dropdown-icon {
        svg,
        img {
            display: block;
            margin: 0;
        }
        & + .dropdown-text {
            margin-left: .5em;
        }
    }
    @media (max-width: ($grid-float-breakpoint - 1)) {
        .dropdown-toggle:after {
            display: inline-block;
        }
        .dropdown-menu {
            position: static;
            margin-left: -($grid-gutter-width / 2);
            margin-right: -($grid-gutter-width / 2);
            border: none;
            background: transparent;
            border-left: 4px solid $primary;
        }
        .dropdown-item {
            &:hover:not(.active),
            &:focus:not(.active) {
                background: transparent;
            }
        }
    }
}
