//
// Social Navigation
//
.social-nav {
    .sociallinks {
        overflow: hidden;
    }
    .sociallinks-list {
        padding: 0;
        list-style: none;
    }
    .sociallinks-item {
        display: inline-block;
        margin: 0.5rem;
    }
    .sociallinks-link {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none !important;
    }
    .sociallinks-link-icon {
        font-size: 1.25rem;
        text-align: center;
        opacity: .8;
        vertical-align: middle;
    }
    .sociallinks-link-label {
        vertical-align: middle;
        margin-left: .5rem;
    }
}
