//
// Carousel
//
.carousel {
    overflow: hidden;
    .item {
        height: 400px;
        @include media-breakpoint-up(md) {
            height: 600px;
        }
    }
}
.carousel-small {
    .item {
        height: 300px;
        @include media-breakpoint-up(md) {
            height: 400px;
        }
    }
}
.carousel-fullscreen {
    .item {
        height: 100vh;
    }
}
// Carousel with flexible height [FEATURE-contentelement-2] [TASK-slider-1]
.carousel-flexible {
    .item {
        height: auto;
    }
}

//
// Carousel Item
//
.carousel {
    .carousel-item {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        @include media-breakpoint-up(sm) {
            padding-left: 0;
            padding-right: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: inherit;
            margin-top: 0;
        }
        a {
            text-decoration: none;
        }
        .valign {
            margin: 0 auto;
            height: 100%;
            @each $breakpoint, $container-max-width in $container-max-widths {
                @include media-breakpoint-up($breakpoint) {
                    max-width: $container-max-width - $grid-gutter-width;
                }
            }
        }
    }
}
.frame-type-gridelements-t3basicBootstrapSlider {
    .carousel-item {
        > .frame {
            padding-left: 0;
            padding-right: 0;
            height: 100%;
        }
    }
}

//
// Carousel Fade
//
.carousel-fade {
    .carousel-item {
        perspective: initial !important;
        transform: initial !important;
    }
}

//
// Carousel Backgroundimage
//
.carousel {
    .carousel-backgroundimage-container {
        overflow: hidden;
    }
    .carousel-backgroundimage-container,
    .carousel-backgroundimage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .carousel-backgroundimage-fade {
        opacity: .125;
    }
    .carousel-backgroundimage-parallax {
        background-attachment: fixed;
        @media (hover: none) {
            background-attachment: initial;
        }
        background-repeat: no-repeat;
    }
    .carousel-backgroundimage-blur {
        filter: blur(10px);
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
    }
    .carousel-backgroundimage-grayscale {
        filter: grayscale(1);
    }
    .carousel-backgroundimage-sepia {
        filter: sepia(1);
    }
}

//
// Carousel Content
//
.carousel .carousel-content,
.frame-type-gridelements-t3basicBootstrapSlider .carousel-item .frame:not(.frame-type-image) .frame-container,
.frame-type-gridelements-t3basicSlickSlider .item .frame:not(.frame-type-image) .frame-container {
    position: relative;
    height: 100%;
    padding: 0 $carousel-control-width;
}
.frame-type-gridelements-t3basicBootstrapSlider .carousel-item .frame:not(.frame-type-image) .frame-container,
.frame-type-gridelements-t3basicSlickSlider .item .frame:not(.frame-type-image) .frame-container {
    padding-bottom: 2rem; /* spacing to .carousel-indicators */
}
.carousel {
    .carousel-content {
        .carousel-text {
            margin-right: ($grid-gutter-width / 2);
        }
        .carousel-image {
            margin-left: ($grid-gutter-width / 2);
            img {
                margin: 0 auto;
                max-width: 100%;
                display: block;
                height: auto;
            }
        }
    }
}

//
// Carousel Navigation
//
.carousel-control {
    cursor: pointer;
    top: 20%;
    bottom: 20%; /* set padding, mainly because of click-enlarge-icon */
}
.carousel-control-prev,
.carousel-control-next {
    width: 10%; /* should be 1/2 of slider item padding */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    content: "";
    border-radius: 50%;
    text-shadow: rgba(0,0,0,0.5) 0 2px 5px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
    @include transition(all 0.3s ease);
    background-color: $white;
    background-size: 50%;
}
.carousel-indicators {
    margin: 0;
    padding-bottom: 1rem;
}
.carousel-indicators-navigation {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 ($grid-gutter-width / 2);
    margin: 0;
    width: 100%;
    z-index: 15;
    opacity: 1;
    color: $carousel-caption-color;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    > li {
        overflow: visible;
        padding: .75em;
        margin: 0;
        text-indent: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        cursor: pointer;
        &.active:before {
            content: '';
            position: absolute;
            top: auto;
            bottom: 0;
            left: .75em;
            right: .75em;
            width: auto;
            border-top: 1px solid $primary;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                left: 0;
            }
        }
        &:last-child {
            padding-right: 0;
            &:before {
                right: 0;
            }
        }
    }
}

//
// Carousel Type: Header
//
.carousel-item-type-header {
}

//
// Carousel Type: Text and Image
//
.carousel-item-type-text_and_image {
    .carousel-image {
        display: none;
        @include media-breakpoint-up(sm) {
            display: block;
        }
    }
}

//
// Carousel Type: Background Image
//
.carousel-item-type-background_image {
    a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

//
// Carousel Type: Call to Action
//
.carousel-item-type-call_to_action {
    .carousel-box {
        background-color: $body-bg;
        padding: 2rem;
        @include media-breakpoint-up(sm) {
            max-width: 50%;
        }
    }
}

//
// Carousel Type: Image
//
.carousel-item-type-image {
}
.frame-type-gridelements-t3basicBootstrapSlider {
    .carousel-item-type-image {
        figure {
            margin-bottom: 0;
        }
    }
}
