//
// Content Element "Slick Content Slider" [FEATURE-slider-1]
//
.slick-slider {
    overflow: hidden;
    margin-bottom: $spacer;

    .slick-list {
        .slick-slide {
            outline: none;
            .frame,
            figure,
            .gallery-row {
                margin-bottom: 0;
            }
            .expand {
                display: none;
            }
            &.slick-active {
                .expand {
                    display: block;
                }
            }
        }
    }

    .slick-arrow {}

    .carousel-indicators {
        .slick-active {
            opacity: $carousel-control-hover-opacity;
        }
    }

    &[data-slick-centermode="heightened"] {
        padding-bottom: $spacer * 2;
        .slick-track {
            padding: $grid-gutter-width 0; // Attention: This is an approximation
        }
        .slick-slide {
            opacity: 0.75;
            @include transition();
            &.slick-center {
                opacity: 1;
                transform: scale(1.4);
                position: relative;
                z-index: 1;
            }
        }
        .carousel-indicators {
            padding-bottom: 0;
        }
    }

    &[data-slick-centermode="carousel"] {
        .slick-slide {
            opacity: 0;
            transform: scale(0.6);
            @include transition();
            margin: 0;
            &.slick-active {
                opacity: 0.2;
            }
            &.slick-center {
                opacity: 1;
                transform: scale(1);
                position: relative;
                z-index: 1;
                section.text {
                    opacity: 1;
                }
            }
            > * {
                margin-left: -$grid-gutter-width * 2;
                margin-right: -$grid-gutter-width * 2;
            }
            > p {
                text-align: center;
            }
        }
    }

    &[data-slick-margin="true"] { // Fix paddings
        &[data-slick-slidestoshow="2"] {
            &:not([data-slick-centermode]) {
                .slick-slide {
                    .frame .frame-container {
                        transition: all 1s ease-in-out;
                    }
                    &.slick-active {
                        .frame .frame-container { // all elements => left element
                            padding-left: $carousel-control-width * 2;
                            padding-right: $grid-gutter-width / 2;
                        }
                        ~ .slick-active { // all elements but the first => right element
                            .frame .frame-container {
                                padding-left: $grid-gutter-width / 2;
                                padding-right: $carousel-control-width * 2;
                            }
                        }
                    }
                }
            }
        }
        &[data-slick-slidestoshow="3"],
        &[data-slick-slidestoshow="4"],
        &[data-slick-slidestoshow="5"] {
            &[data-slick-dots="true"] {
                padding-bottom: $spacer * 2;
            }
            .slick-slide {
                margin: 0 $grid-gutter-width / 2;
            }
            .carousel-indicators {
                padding-bottom: 0;
            }
        }
    }

}

//
// Content Element "Images" with frame "Image Slider"
//
.frame-slider {}
