//
// Cookie Consent
//

//
// Cookie Consent Animation
//
.cc-window {
    opacity: 1;
    @include transition(opacity 1s ease);
    &.cc-invisible {
        opacity: 0;
    }
}
.cc-animate {
    &.cc-revoke {
        @include transition(transform 1s ease);
        &.cc-top {
            transform: translateY(-2rem);
        }
        &.cc-bottom {
            transform: translateY(2rem);
        }
        &.cc-active {
            &.cc-top {
                transform: translateY(0);
            }
            &.cc-bottom {
                transform: translateY(0);
            }
        }
    }
}
.cc-revoke:hover {
    transform: translateY(0);
}
.cc-grower {
    max-height: 0;
    overflow: hidden;
    @include transition(max-height 1s);
}

//
// Cookie Consent Base
//
.cc-window,
.cc-revoke {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    z-index: $cookieconsent-zindex;
}
.cc-window {
    &.cc-static {
        position: static;
    }
    &.cc-floating {
        .cc-container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        padding: 2rem 0;
        max-width: 380px;
        flex-direction: column;
    }
    &.cc-banner {
        padding: ($grid-gutter-width / 2) 0;
        width: 100%;
        flex-direction: row;
    }
}
.cc-revoke {
    padding: .5rem;
    &:hover {
        text-decoration: underline;
    }
}
.cc-header {
    font-weight: $font-weight-bold;
}
.cc-link,
.cc-close,
.cc-revoke {
    cursor: pointer;
}
.cc-link {
    opacity: .8;
    display: inline-block;
    padding: .2rem 0;
    text-decoration: underline;
    &:hover {
        opacity: 1;
    }
    &:active,
    &:visited {
        color: initial;
    }
}
.cc-btn {
    @extend .btn;
    cursor: pointer;
}
.cc-banner {
    .cc-btn:last-child {
        min-width: 140px;
    }
}
.cc-highlight {
    .cc-btn:first-child {
        background-color: transparent;
        border-color: transparent;
        &:hover,
        &:focus {
            background-color: transparent;
            text-decoration: underline;
        }
    }
}
.cc-close {
    display: block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.6rem;
    opacity: .9;
    line-height: .75;
    &:hover,
    &:focus {
        opacity: 1;
    }
}

//
// Cookie Consent Container
//
.cc-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    @include make-container();
    @include make-container-max-widths();
}
.cc-window.cc-floating {
    max-width: initial;
    width: 100%;
    text-align: center;
    .cc-container {
        flex-direction: column;
    }
}
.cc-window.cc-banner {
    .cc-container {
        flex-direction: row;
        align-items: center;
    }
}

//
// Cookie Consent Styling
//
.cc-revoke {
    &.cc-top {
        top: 0;
        left: 3rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    &.cc-bottom {
        bottom: 0;
        left: 3rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
    &.cc-left {
        left: 3rem;
        right: unset;
    }
    &.cc-right {
        right: 3rem;
        left: unset;
    }
}
.cc-top {
    top: ($grid-gutter-width / 2);
}
.cc-left {
    left: ($grid-gutter-width / 2);
}
.cc-right {
    right: ($grid-gutter-width / 2);
}
.cc-bottom {
    bottom: 0;
}
.cc-message {
    line-height: 1.25rem;
}
.cc-floating {
    > .cc-container > .cc-link,
    > .cc-link {
        margin-bottom: 1rem;
    }
    .cc-message {
        display: block;
        margin-bottom: 1rem;
    }
}
.cc-window {
    &.cc-floating {
        .cc-compliance {
            flex: 1 0 auto;
        }
    }
    &.cc-banner {
        align-items: center;
    }
}
.cc-banner {
    &.cc-top {
        left: 0;
        right: 0;
        top: 0;
    }
    &.cc-bottom {
        left: 0;
        right: 0;
        bottom: 0;
    }
    .cc-message {
        padding-right: 1rem;
        flex: 1;
    }
}
.cc-compliance {
    align-items: center;
    align-content: space-between;
}
.cc-btn + .cc-btn {
    margin-left: .5rem;
}
@media print {
    .cc-window,
    .cc-revoke {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .cc-btn {
        white-space: normal;
    }
}
@media screen and (max-width: 480px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
    .cc-window {
        &.cc-top {
            top: 0;
        }
        &.cc-bottom {
            bottom: 0;
        }
        &.cc-banner,
        &.cc-right,
        &.cc-left {
            left: 0;
            right: 0;
        }
        &.cc-banner {
            flex-direction: column;
            align-items: unset;
            .cc-compliance {
                flex: 1;
            }
        }
        &.cc-floating {
            padding: ($grid-gutter-width / 2);
            max-width: none;
            .cc-container {
                padding: 0;
            }
        }
        .cc-message {
            padding-right: 0;
            margin-bottom: 1rem;
        }
    }
    .cc-window.cc-banner {
        .cc-container {
            align-items: unset;
            flex-direction: column;
        }
    }
}

//
// Cookie Consent Colors
//
.cc-window,
.cc-revoke {
    color: $cookieconsent-color;
    background-color: $cookieconsent-bg;
}
.cc-link,
.cc-link:active,
.cc-link:visited {
    color: $cookieconsent-link-color;
}
.cc-btn {
    @include button-variant($cookieconsent-button-bg, $cookieconsent-button-bg);
}
.cc-highlight .cc-btn:first-child {
    @include button-variant($cookieconsent-button-highlight-bg, $cookieconsent-button-highlight-bg);
}
