//
// Figure
//
figure {
    display: block;
    margin-bottom: $spacer;
    line-height: $line-height-base;
    img,
    picture {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
    figcaption {
        word-wrap: break-word;
        text-align: center;
    }
}
.img-fluid {
    max-width: initial; // Overwrite style from Bootstrap
    width: 100%; // Ensures that images are stretched to full width (important e.g. for news list)
}
