//
// Footer Section Meta
//
.footer-section-meta {
    background-color: $gray-200;
    padding-top: 2rem;
    padding-bottom: 4rem; // Additional padding for cookie hint
    @include media-breakpoint-up(sm) {
        text-align: center;
    }
}

//
// Footer Copyright
//
.footer-copyright {
    p {
        margin-bottom: 0;
    }
}
