//
// Gallery
//
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
    &:last-child {
        margin-bottom: -1rem;
    }
}
.gallery-item {
    padding-left: .5rem;
    padding-right: .5rem;
    img,
    picture {
        width: 100%;
        height: auto;
    }
}

//
// Gallery Item Sizes
//
.gallery-item-size-1 {
    width: 100%;
}
.gallery-item-size-2 {
    width: calc(100% / 2);
}
.gallery-item-size-3 {
    width: calc(100% / 3);
}
.gallery-item-size-4 {
    width: calc(100% / 2);
    @include media-breakpoint-up(sm) {
        width: calc(100% / 4);
    }
}
.gallery-item-size-5 {
    width: calc(100% / 2);
    @include media-breakpoint-up(sm) {
        width: calc(100% / 3);
    }
    @include media-breakpoint-up(md) {
        width: calc(100% / 5);
    }
}
.gallery-item-size-6 {
    width: calc(100% / 2);
    @include media-breakpoint-up(sm) {
        width: calc(100% / 3);
    }
    @include media-breakpoint-up(md) {
        width: calc(100% / 6);
    }
}
