//
// Header
//
header.navbar {
    background: $white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    .header-section-main {
        overflow: visible;
    }
    form {
        margin-bottom: 0;
    }
}

//
// Header Meta Section
//
header.navbar .header-section-meta {
    display: block;
    @include media-breakpoint-up(md) {
        display: flex;
    }
}
