//
// Icon for images with lightbox [FEATURE-lightbox-3]
//
.lightbox {
    position: relative;
    display: block;
    .expand {
        position: absolute;
        top: auto;
        bottom: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
        @include transition(all 0.3s linear);
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    }
    /* Expand button in default control style
    .expand {
        @extend .control;
    }
    &:hover {
        .expand {
            @extend .control-hover;
        }
    }*/
}
