//
// List
//
ul {
    &.typo3-messages {
        @extend .list-unstyled;
        p.alert-message {
            margin-bottom: 0;
        }
    }
}
.list-inline {
    > li {
        display: inline-block;
        &:not(:last-child) {
            margin-right: $list-inline-padding;
        }
    }
}
