//
// Media List
//
.media-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    .media {
        margin-bottom: $spacer;
    }
}

//
// Media
//
.media-left {
    padding-right: .5rem;
}
.media-body {
    > *:last-child {
        margin-bottom: 0;
    }
}
