//
// Page content
//
#page-content {
    padding: 2rem 0;
}

//
// Scroll top (from content element)
// Add class and icon [TASK-template-6]
//
.linkToTop {
    a {
        text-decoration: none;
    }
    svg {
        border: 1px solid $primary;
        height: 25px;
        width: auto;
        padding: 5px;
        margin-top: -4px;
    }
    &:hover svg {
        border-color: $link-hover-color;
    }
}

//
// Scroll top (from page footer)
//
.scroll-top {
    overflow: hidden;
    @include transition();
    z-index: $zindex-sticky;
    background-color: $gray-700;
    color: #ffffff;
    bottom: ($grid-gutter-width / 2);
    right: ($grid-gutter-width / 2);
    position: fixed;
    opacity: 0;
    width: 3em;
    height: 3em;
    &:active,
    &:focus,
    &:hover {
        color: #ffffff;
        background-color: $primary;
    }
    .scroll-top-icon {
        @extend .css-arrow;
    }
    &.scroll-top-visible {
        opacity: 1;
    }
}

//
// CSS arrow
//
.css-arrow {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &:before {
        content: '';
        position: absolute;
        height: 30%;
        width: 30%;
        border-top: 1px solid;
        border-left: 1px solid;
        top: 55%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
}

//
// Divider
//
hr {
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
        @include media-breakpoint-up($breakpoint) {
            $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
            margin: ($frame-inner-spacing * $scaling) 0;
        }
    }
}

//
// Audio
//
audio {
    width: 100%;
    margin-bottom: $spacer;
}

// Video
figure.video .embed { // Same settings as ".figure-img"
    margin-bottom: $spacer / 2;
    line-height: 1;
}

//
// Vertical Alignment
//
.valign {
    display: flex;
    width: 100%;
    align-items: center;
    .vcontainer {
        width: 100%;
    }
}

//
// Iframe
//
iframe {
    border: 0;
}

//
// Admin Panel
//
#TSFE_ADMIN_PANEL_FORM {
    hyphens: initial; // [TASK-css-4]
}

//
// Extbase Debug
// Ensure that debug output is visible (and not overlayed by fixed header) [TASK-css-5]
//
.extbase-debugger {
    z-index: 1040; // Higher than navbar
}
