//
// Navbar
//
.navbar {
    display: initial;
}

//
// Navbar Position Fixed
//
.navbar {
    position: relative;
    &.navbar-fixed-top {
        @extend .fixed-top;
    }
    &.navbar-fixed-bottom {
        @extend .fixed-bottom;
    }
}
.body-bg-top {
    @each $breakpoint in map-keys($navbar-heights) {
        @include media-breakpoint-up($breakpoint) {
            padding-top: map-get($navbar-heights, $breakpoint);
        }
    }
}
.body-bg-bottom {
    @each $breakpoint in map-keys($navbar-heights) {
        @include media-breakpoint-up($breakpoint) {
            padding-bottom: map-get($navbar-heights, $breakpoint);
        }
    }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    .navbar-collapse {
        @each $breakpoint in map-keys($navbar-heights) {
            @include media-breakpoint-up($breakpoint) {
                max-height: calc(100vh - #{map-get($navbar-heights, $breakpoint)});
            }
        }
        @media (max-width: ($grid-float-breakpoint - 1)) {
            &.show {
                overflow-y: auto;
            }
        }
    }
}

//
// Navbar Carousel Corrections
//
.navbar {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel-fullscreen,
        + .carousel-fullscreen .carousel-item {
            @each $breakpoint in map-keys($navbar-heights) {
                @include media-breakpoint-up($breakpoint) {
                    height: calc(100vh - #{map-get($navbar-heights, $breakpoint)});
                }
            }
        }
    }
}
.navbar-fixed-top.navbar-default-transition,
.navbar-fixed-top.navbar-inverse-transition {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel {
            @each $breakpoint in map-keys($navbar-heights) {
                @media (min-width: $grid-float-breakpoint) and (min-width: map-get($grid-breakpoints, $breakpoint)) {
                    margin-top: -#{map-get($navbar-heights, $breakpoint)};
                }
            }
            .carousel-item {
                @each $breakpoint in map-keys($navbar-heights) {
                    @media (min-width: $grid-float-breakpoint) and (min-width: map-get($grid-breakpoints, $breakpoint)) {
                        padding-top: calc(#{map-get($navbar-heights, $breakpoint)} / 2);
                    }
                }
            }
        }
        + .carousel-fullscreen,
        + .carousel-fullscreen .carousel-item {
            @media (min-width: $grid-float-breakpoint) {
                height: 100vh;
            }
        }
    }
}
.navbar-fixed-bottom {
    + a,
    + a + a,
    + .typo3-feedit-element > a,
    + .typo3-feedit-element > a + a,
    + .main-section > a,
    + .main-section > a + a,
    + .main-section > .typo3-feedit-element > a,
    + .main-section > .typo3-feedit-element > a + a {
        + .carousel-fullscreen {
            margin-top: 0;
            @each $breakpoint in map-keys($navbar-heights) {
                @include media-breakpoint-up($breakpoint) {
                    height: calc(100vh - #{map-get($navbar-heights, $breakpoint)});
                }
            }
        }
    }
}

//
// Navbar Brand
//
.navbar-mainnavigation {
    .navbar-brand {
        margin-right: $grid-gutter-width;
    }
    .navbar-brand-image {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        img {
            width: auto;
            height: 60px;
        }
        > .navbar-brand-logo-normal {
            display: block;
        }
    }
}

//
// Navbar Breakpoint
// Bootstrap 4 only allows breakpoints to be fixed at viewports this removes
// a lot of flexibility, so we introduce the legacy float breakpoint again.
//
.navbar-mainnavigation {
    > .navbar-nav,
    > .container > .navbar-collapse > .navbar-nav,
    > .container-fluid > .navbar-collapse > .navbar-nav {
        &:first-child {
            padding-top: .5em;
        }
        &:last-child {
            padding-bottom: 1.25em;
        }
    }
    > .container > .navbar-collapse,
    > .container-fluid > .navbar-collapse {
        margin-left: -($grid-gutter-width / 2);
        margin-right: -($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
}
@media (max-width: ($grid-float-breakpoint - 1)) {
    .navbar-mainnavigation {
        .navbar-nav {
            .nav-link {
                margin-left: -($grid-gutter-width / 2);
                margin-right: -($grid-gutter-width / 2);
                padding-left: ($grid-gutter-width / 2);
                padding-right: ($grid-gutter-width / 2);
            }
        }
    }
}
@media (min-width: $grid-float-breakpoint) {
    .navbar-mainnavigation {
        flex-flow: row nowrap;
        justify-content: flex-start;
        > .container .collapse > .navbar-nav,
        > .container-fluid .collapse > .navbar-nav {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            flex-direction: row;
            &:first-child {
                margin-left: -$navbar-nav-link-padding-x;
            }
            &:last-child {
                margin-left: auto;
                margin-right: -$navbar-nav-link-padding-x;
            }
            .nav-link {
                padding-right: $navbar-nav-link-padding-x;
                padding-left: $navbar-nav-link-padding-x;
            }
        }
        > .container,
        > .container-fluid {
            flex-wrap: nowrap;
        }
        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }
        .navbar-toggler {
            display: none;
        }
    }
}


//
// Navbar Item
//
.navbar-mainnavigation {
    .nav-link {
        position: relative;
        display: flex;
        align-items: center;
    }
    .nav-link-icon,
    .nav-link-text {
        display: inline-block;
    }
    .nav-link-icon {
        & + .nav-link-text {
            margin-left: .5em;
        }
        svg,
        img {
            display: block;
            margin: 0;
        }
    }
}

//
// Navbar Toggler
//
.navbar-toggler {
    padding: 0;
    height: 34px;
    width: 34px;
    position: relative;
    border: 0;
    &:focus {
        outline: 0;
    }
}
.navbar-toggler-icon:after,
.navbar-toggler-icon,
.navbar-toggler-icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: none !important;
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: currentColor;
    @include transition();
}
.navbar-toggler-icon {
    top: 50%;
    left: 50%;
    height: 0;
    transform: translate(-50%, -50%);
}
.navbar-toggler-icon:before {
    transition-delay: .1s;
    transform: rotate(-45deg);
    top: 0;
}
.navbar-toggler-icon:after {
    transition-delay: .1s;
    transform: rotate(45deg);
    top: 0;
}
.navbar-toggler.collapsed {
    .navbar-toggler-icon {
        transition-delay: .2s;
        height: 2px;
    }
    .navbar-toggler-icon:before {
        transition-delay: 0;
        transform: rotate(0);
        top: -6px;
    }
    .navbar-toggler-icon:after {
        transition-delay: 0;
        transform: rotate(0);
        top: 6px;
    }
}

//
// Navbar Style
//
.navbar-default {
    @extend .navbar-light;
}
.navbar-inverse {
    @extend .navbar-dark;
    @extend .bg-dark;
}

//
// Navbar Transition
//
.navbar,
.navbar .header-section-meta,
.navbar .navbar-brand-image img {
    @include transition(all .3s cubic-bezier(0, 0, 0.58, 1) 0s);
}
.navbar {
    .header-section-meta {
        overflow: hidden;
        @include media-breakpoint-up(md) {
            height: 40px;
        }
    }
}
.navbar-default-transition,
.navbar-default-transition.navbar-transition {
    @extend .navbar-default;
}
.navbar-inverse-transition,
.navbar-inverse-transition.navbar-transition {
    @extend .navbar-inverse;
}
.navbar-transition {
    min-height: 70px;
    .navbar-brand-image img {
        height: 40px;
    }
    .header-section-meta {
        height: 0;
    }
}

//
// Navbar Bottom
//
.navbar-mainnavigation {
    &.navbar-bottom {
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .15);
        .dropdown-menu {
            top: auto;
            bottom: 100%;
        }
    }
}
