//
// Section
//
.section {
    overflow: hidden;
}
@each $name, $background in $theme-colors {
    $color: color-yiq($background);
    .section-#{$name} {
        color: $color;
        background-color: $background;
        a:not(.btn) {
            color: $color;
            &:focus,
            &:hover {
                color: $color;
            }
        }
    }
    .section-#{$name} + .section-#{$name} {
        border-top: 1px solid darken($background, 5%);
    }
}

//
// Section Columns
//
.section-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
}
.section-column {
    width: 100%;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

//
// Section Column Sizes
//
.section-column-half {
    @include media-breakpoint-up(sm) {
        width: 50%;
    }
}
.section-column-third {
    @include media-breakpoint-up(md) {
        width: calc(100% / 3);
    }
}
