//
// Tab Navigation
//
.nav-tabs {
    margin-bottom: $spacer;
    .nav-link {
        &.active {
            outline: none;
        }
    }
}

//
// Tab Navigation Panes
//
.tab-pane-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
}
.tab-pane-content-item {
    flex-grow: 1;
    order: 1;
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    width: 100%;
}
.tab-pane-content-text {
    *:last-child {
        margin-bottom: 0;
    }
}
.tab-pane-content-right,
.tab-pane-content-left {
    .tab-pane-content-item {
        @include media-breakpoint-up(md) {
            width: 50%;
            *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.tab-pane-content-top,
.tab-pane-content-left {
    .tab-pane-content-media {
        margin-bottom: $grid-gutter-width;
    }
}
.tab-pane-content-left {
    .tab-pane-content-media {
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
}
.tab-pane-content-bottom,
.tab-pane-content-right {
    .tab-pane-content-media {
        order: 2;
        margin-top: $grid-gutter-width;
    }
}
.tab-pane-content-right {
    .tab-pane-content-media {
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
}

//
// Types of tabs content elements
//
.frame-type-gridelements-tabsSimple,
.frame-type-gridelements-tabs4,
.frame-type-gridelements-tabs6 {
    .tab-content {
        .frame {
            padding: 0;
        }
    }
}
