//
// Bootstrap variables
// Remove variables defined as TypoScript constant [TASK-css-8]
// Add often used variables [TASK-css-10]
//

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1540px
) !default;

//
// Headlines
//
$headline-scaling: () !default;
$headline-scaling: map-merge(
    (
        xs: 1,
        sm: 1,
        md: 1.1,
        lg: 1.2,
        xl: 1.3
    ),
    $headline-scaling
);
$headline-awesome-scaling: () !default;
$headline-awesome-scaling: map-merge(
    (
        xs: 1,
        sm: 1,
        md: 1.25,
        lg: 1.5,
        xl: 1.75
    ),
    $headline-awesome-scaling
);

//
// Breakpoints
//
$grid-float-breakpoint:        992px !default;

//
// Navbar
//
$navbar-heights: (
    xs: 170px,
    sm: 170px,
    md: 130px,
    lg: 130px,
    xl: 130px
) !default;

//
// Frame Inner Spacing
//
$frame-inner-spacing-scaling: () !default;
$frame-inner-spacing-scaling: map-merge(
    (
        xs: 1,
        sm: 1.25,
        md: 1.5,
        lg: 1.75,
        xl: 1.75
    ),
    $frame-inner-spacing-scaling
);

//
// Frame Outer Spacing
//
$frame-outer-spacing:         1rem !default;
$frame-outer-spacing-scaling: () !default;
$frame-outer-spacing-scaling: map-merge(
    (
        none: 0,
        extra-small: 1,
        small: 2,
        medium: 4,
        large: 6,
        extra-large: 8
    ),
    $frame-outer-spacing-scaling
);

//
// Frame Background
//
$frame-backgrounds: () !default;
$frame-backgrounds: map-merge(
    (
        primary: (
            background:                $primary,
            link-color:                $link-alternate-color,
            link-hover-color:          $link-alternate-hover-color
        ),
        secondary: (
            background:                $secondary,
            link-color:                $link-alternate-color,
            link-hover-color:          $link-alternate-hover-color
        ),
        light: (
            background:                $light,
            link-color:                $link-color,
            link-hover-color:          $link-hover-color
        ),
        dark: (
            background:                $dark,
            link-color:                $link-color,
            link-hover-color:          $link-hover-color
        )
    ),
    $frame-backgrounds
);
