<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Adapt templates for Bootstrap [TASK-form-9]</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <div class="{element.properties.containerClassAttribute}">
            <f:form.checkbox
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute}"
                value="{element.properties.value}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            />
            <label class="custom-control-label" for="{element.uniqueIdentifier}">
                <span>{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></span>
            </label>
        </div>
    </f:render>
</formvh:renderRenderable>
</html>
