<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Adapt templates for Bootstrap (wrap in default div, remove clearfix class) [TASK-form-9]</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <f:if condition="{element.rootForm.renderingOptions.previewMode}">
            <f:then>
                <f:if condition="{element.properties.contentElementUid}">
                    <f:then>
                        <formvh:be.renderContentElementPreview contentElementUid="{element.properties.contentElementUid}" />
                    </f:then>
                    <f:else>
                        <f:translate key="LLL:EXT:form/Resources/Private/Language/Database.xlf:formEditor.elements.ContentElement.selectContentElement" />
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="{element.properties.contentElementUid}">
                    <f:cObject typoscriptObjectPath="lib.tx_form.contentElementRendering">{element.properties.contentElementUid}</f:cObject>
                </f:if>
            </f:else>
        </f:if>
    </f:render>
</formvh:renderRenderable>
</html>
