<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Adapt templates for Bootstrap (wrap in default div, use heading as label) [TASK-form-9]</f:comment>
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <f:if condition="{element.properties.text}">
            <p class="form-control-plaintext {element.properties.elementClassAttribute}">{formvh:translateElementProperty(element: element, property: 'text') -> f:format.nl2br()}</p>
        </f:if>
    </f:render>
</formvh:renderRenderable>
</html>
