<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>
    EXT:news
    Enable different crop variants for images [FEATURE-news-2]
    Adapt template for Bootstrap [TASK-newstemplate-3]
</f:comment>

<n:excludeDisplayedNews newsItem="{newsItem}" />
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <h3>
        <span class="news-list-date">
            <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format: 'Y-m-d')}">
                <f:format.date format="{f:translate(key: 'dateFormat')}">{newsItem.datetime}</f:format.date>
            </time>
        </span>
        <n:link newsItem="{newsItem}" settings="{settings}">
            <span itemprop="headline">{newsItem.title}</span>
        </n:link>
    </h3>
    <div class="row">
        <div class="col-sm-4">
            <f:if condition="{newsItem.mediaPreviews}">
                <f:then>
                    <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                        <f:if condition="{mediaElement.originalResource.type} == 2 || {mediaElement.originalResource.type} == 5">
                            <figure class="image">
                                <n:link newsItem="{newsItem}" settings="{settings}">
                                    <f:render partial="Media/Rendering/Image" arguments="{file: mediaElement, variants: settings.list.variants}" />
                                </n:link>
                            </figure>
                        </f:if>
                        <f:if condition="{mediaElement.originalResource.type} == 3 || {mediaElement.originalResource.type} == 4">
                            <figure class="video">
                                <div class="embed embed-responsive embed-responsive-16by9">
                                    <f:render partial="Media/Rendering/Video" arguments="{file: mediaElement, settings: settings.list}" />
                                </div>
                            </figure>
                        </f:if>
                    </f:alias>
                </f:then>
                <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
                        <figure class="image no-media-element">
                            <n:link newsItem="{newsItem}" settings="{settings}">
                                <picture>
                                    <f:for each="{settings.list.variants}" key="name" as="variant">
                                        <f:variable name="breakpoint">{variant.breakpoint as integer}</f:variable>
                                        <f:variable name="width">{variant.width as integer}</f:variable>
                                        <f:if condition="{width}">
                                            <source data-variant="{name}" data-maxwidth="{width}" {f:if(condition: breakpoint, then: ' media="(min-width: {breakpoint}px)" ')}srcset="{f:uri.image(src: settings.list.media.dummyImage, cropVariant: name, maxWidth: width)}">
                                        </f:if>
                                    </f:for>
                                    <f:comment>Attribute "alt" for dummy images [BUGFIX-news-1]</f:comment>
                                    <img src="{f:uri.image(src: settings.list.media.dummyImage, cropVariant: 'default', maxWidth: variants.default.width)}" alt="{f:translate(key: 'imageAlt')}" class="figure-img img-fluid">
                                </picture>
                            </n:link>
                        </figure>
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="col-sm-8">
            <p itemprop="description">
                <f:if condition="{newsItem.teaser}">
                    <f:then>
                        {newsItem.teaser->f:format.crop(maxCharacters: settings.cropMaxCharacters, respectWordBoundaries: 1)}
                    </f:then>
                    <f:else>
                        {newsItem.bodytext->f:format.crop(maxCharacters: settings.cropMaxCharacters, respectWordBoundaries: 1)->f:format.stripTags()}
                    </f:else>
                </f:if>
                <br />
                <n:link newsItem="{newsItem}" settings="{settings}" class="more">
                    <f:translate key="more-link" />
                </n:link>
            </p>
        </div>
    </div>
</div>
</html>
