<f:comment>
    Bootstrap 4 HTML for Paginate ViewHelper [TASK-newstemplate-8]
    Optimize URLs in Paginate ViewHelper [TASK-newstemplate-9]: Prevent duplicate URLs
</f:comment>

<f:if condition="{pagination.allPageNumbers -> f:count()} > 1">
    <nav aria-label="{f:translate(key: 'news.pageBrowsing.aria', extensionName: 't3basic')}">
        <p>
            <f:translate key="paginate_overall" arguments="{0: paginator.currentPageNumber, 1: pagination.lastPageNumber}" />
        </p>
        <ul class="pagination">
            <f:if condition="{pagination.previousPageNumber} > 0">
                <f:then>
                    <li class="page-item previous">
                        <f:if condition="{pagination.previousPageNumber} > 1">
                            <f:then>
                                <f:link.action
                                        action="{actionName}"
                                        arguments="{currentPage: pagination.previousPageNumber}"
                                        addQueryString="1"
                                        addQueryStringMethod="GET"
                                        class="page-link">
                                    <f:translate key="widget.pagination.previous" extensionName="fluid"/>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:link.action
                                        action="{actionName}"
                                        argumentsToBeExcludedFromQueryString="{0: 'tx_news_pi1[currentPage]'}"
                                        addQueryString="1"
                                        addQueryStringMethod="GET"
                                        class="page-link">
                                    <f:translate key="widget.pagination.previous" extensionName="fluid"/>
                                </f:link.action>
                            </f:else>
                        </f:if>
                    </li>
                </f:then>
                <f:else>
                    <li class="page-item previous disabled">
                        <span class="page-link">
                            <f:translate key="widget.pagination.previous" extensionName="fluid"/>
                        </span>
                    </li>
                </f:else>
            </f:if>
            <f:if condition="{pagination.hasLessPages}">
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            </f:if>
            <f:for each="{pagination.allPageNumbers}" as="page">
                <li class="page-item{f:if(condition: '{page} == {paginator.currentPageNumber}', then: ' active')}">
                    <f:if condition="{page} > 1">
                        <f:then>
                            <f:link.action
                                    action="{actionName}"
                                    arguments="{currentPage: page}"
                                    addQueryString="1"
                                    addQueryStringMethod="GET"
                                    class="page-link">
                                {page}
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action
                                    action="{actionName}"
                                    argumentsToBeExcludedFromQueryString="{0: 'tx_news_pi1[currentPage]'}"
                                    addQueryString="1"
                                    addQueryStringMethod="GET"
                                    class="page-link">
                                {page}
                            </f:link.action>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
            <f:if condition="{pagination.hasMorePages}">
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            </f:if>
            <f:if condition="{pagination.nextPageNumber} > 1">
                <f:then>
                    <li class="page-item next">
                        <f:link.action
                                action="{actionName}"
                                arguments="{currentPage: pagination.nextPageNumber}"
                                addQueryString="1"
                                addQueryStringMethod="GET"
                                class="page-link">
                            <f:translate key="widget.pagination.next" extensionName="fluid"/>
                        </f:link.action>
                    </li>
                </f:then>
                <f:else>
                    <li class="page-item next disabled">
                        <span class="page-link">
                            <f:translate key="widget.pagination.next" extensionName="fluid"/>
                        </span>
                    </li>
                </f:else>
            </f:if>
        </ul>
    </nav>
</f:if>
