//
// EXT:felogin [FEATURE-login-1]
//
.frame-type-felogin_login {
    // Distinguish messages (e.g. login error) with default Bootstrap styles [TASK-css-6]
    .message-error {
        @extend .alert, .alert-danger;
    }
    .message-logout {
        @extend .alert, .alert-success;
    }
}
