//
// EXT:indexed_search [FEATURE-search-1]
//
.tx-indexedsearch {
}

// Header Search [FEATURE-search-2]
header.navbar .tx-indexedsearch {
    .form-group {
        margin-bottom: 0;
        .form-control {
            height: $input-height-sm;
        }
        #tx-indexedsearch-searchbox-button-submit {
            display: none;
        }
    }
}
