<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:felogin: Adapt templates for Bootstrap [TASK-login-2]</f:comment>

<h2>
    <f:translate key="forgot_header"/>
</h2>
<p>
    <f:translate key="forgot_reset_message"/>
</p>

<f:render partial="ValidationErrors"/>

<f:form action="recovery" method="post">
    <div class="form-group row">
        <label class="col-sm-5 col-form-label" for="felogin-userIdentifier">
            <f:translate key="enter_your_data"/>
        </label>
        <div class="col-sm-7">
            <f:form.textfield name="userIdentifier" id="felogin-userIdentifier" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <f:form.submit value="{f:translate(key: 'reset_password')}" class="btn btn-primary"/>
    </div>
</f:form>

<p>
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</p>

</html>
