<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:news: Optimize list of categories (comma separated) [TASK-newstemplate-7]</f:comment>

<span class="news-list-category">
    <f:for each="{categories}" as="category" iteration="i">
        <f:if condition="{category.shortcut}">
            <f:then>
                <f:link.typolink parameter="{category.shortcut}">
                    {category.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if>
                </f:link.typolink>
            </f:then>
            <f:else>
                {category.title}<f:if condition="{i.isLast}"><f:else>, </f:else></f:if>
            </f:else>
        </f:if>
    </f:for>
</span>

</html>
