/*
 * Provide custom stylesheet and overwrite colors [TASK-rte-5]
 */
.btn-primary,
.btn-primary:hover {
    background-color: #4faf98;
    border-color: #4faf98;
}
.bg-primary, .card-panel-primary .card-header {
    background-color: #4faf98 !important;
}
.text-primary {
    color: #4faf98 !important;
}
.btn-secondary,
.btn-secondary:hover {
    background-color: #ff3f00;
    border-color: #ff3f00;
}
.bg-secondary, .card-panel-secondary .card-header {
    background-color: #ff3f00 !important;
}
.text-secondary {
    color: #ff3f00 !important;
}