<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Fix breadcrumb [BUGFIX-template-2]
    Disable lazy loading because it's unneeded [TASK-image-1]
</f:comment>
<f:if condition="{theme.breadcrumb.enable}">
    <f:if condition="{breadcrumb}">
        <nav class="breadcrumb-section" aria-label="{f:translate(key: 'breadcrumb.label', extensionName: 'bootstrap_package')}">
            <div class="container">
                <p class="sr-only" id="breadcrumb">{f:translate(key: 'breadcrumb', extensionName: 'bootstrap_package')}</p>
                <ol class="breadcrumb">
                    <f:for each="{breadcrumb}" as="item">
                        <f:if condition="{item.current}">
                            <f:then>
                                <li class="breadcrumb-item{f:if(condition: breadcrumbExtendedValue, else: ' active')}"{f:if(condition: breadcrumbExtendedValue, else: ' aria-current="page"')}>
                                    <f:render section="BreadcrumbTitle" arguments="{item: item, theme: theme}" />
                                </li>
                            </f:then>
                            <f:else>
                                <li class="breadcrumb-item">
                                    <a class="breadcrumb-link" href="{item.link}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}">
                                        <f:render section="BreadcrumbTitle" arguments="{item: item, theme: theme}" />
                                    </a>
                                </li>
                            </f:else>
                        </f:if>
                    </f:for>
                    <f:if condition="{breadcrumbExtendedValue}">
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="breadcrumb-text">{breadcrumbExtendedValue}</span>
                        </li>
                    </f:if>
                </ol>
            </div>
        </nav>
    </f:if>
</f:if>
<f:section name="BreadcrumbTitle">
    <f:if condition="{theme.breadcrumb.icon.enable} && {item.icon}">
        <span class="breadcrumb-icon">
            <f:if condition="{item.icon.0.extension} == 'svg'">
                <f:then>
                    <bk2k:inlineSvg image="{item.icon.0}" width="{theme.breadcrumb.icon.width}" height="{theme.breadcrumb.icon.height}" />
                </f:then>
                <f:else>
                    <f:image image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" width="{theme.breadcrumb.icon.width}" height="{theme.breadcrumb.icon.height}" />
                </f:else>
            </f:if>
        </span>
    </f:if>
    <span class="breadcrumb-text">{item.title}</span>
</f:section>
</html>
