<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Top meta navigation, changeable by editor [FEATURE-nav-1]
    Use class "list-inline" for navigations [TASK-nav-1]
    Enable icons in top meta navigation [FEATURE-nav-2]
</f:comment>

<f:if condition="{metaHeadernavigation}">
    <ul class="list-inline">
        <f:for each="{metaHeadernavigation}" as="item" iteration="metaiteration">
            <li id="list-inline-item header-meta-item-{item.data.uid}"{f:if(condition: item.active, then: ' class="active"')}>
                <a href="{item.link}"{f:if(condition: item.target, then: ' target="{item.target}"')}{f:if(condition: item.icon, then: ' class="icon"')} title="{item.title}">
                    <f:if condition="{item.icon}">
                        <f:then>
                            <f:if condition="{item.icon.0.extension} == 'svg'">
                                <f:then>
                                    <bk2k:inlineSvg image="{item.icon.0}" />
                                </f:then>
                                <f:else>
                                    <f:image image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" />
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            {item.title}
                        </f:else>
                    </f:if>
                </a>
            </li>
        </f:for>
    </ul>
</f:if>
</html>
