<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Use class "list-inline" for navigations [TASK-nav-1]
</f:comment>

<f:if condition="{languagenavigation}">
    <ul class="list-inline">
        <f:for each="{languagenavigation}" as="item">
            <li class="list-inline-item{f:if(condition: item.active, then: ' active')}{f:if(condition: item.available, else: ' text-muted')}">
                <f:if condition="{item.available}">
                    <f:then>
                        <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                            {item.navigationTitle}
                        </a>
                    </f:then>
                    <f:else>
                        {item.navigationTitle}
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:if>
</html>
