<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{subnavigation}">
    <f:comment>
        Optimize indexing of pages: exclude submenu [BUGFIX-search-1]
        Remove attribute "navigation" from tag "nav" [BUGFIX-template-5]
        Disable lazy loading because it's unneeded [TASK-image-1]
    </f:comment>
    <!--TYPO3SEARCH_end-->
    <nav class="frame frame-type-subnavigation">
        <div class="frame-container">
            <div class="frame-inner">
                <f:render section="SubnavigationItem" arguments="{menu: subnavigation, theme: theme}" />
            </div>
        </div>
    </nav>
    <!--TYPO3SEARCH_begin-->
</f:if>
<f:section name="SubnavigationItem">
    <f:if condition="{menu}">
        <ul class="subnav-nav">
            <f:for each="{menu}" as="item">
                <f:if condition="{item.spacer}">
                    <f:then>
                        <li class="subnav-divider"></li>
                    </f:then>
                    <f:else>
                        <li class="subnav-item{f:if(condition: item.active, then:' active')}">
                            <a href="{item.link}" id="subnav-item-{item.data.uid}" class="subnav-link"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}">
                                <f:if condition="{item.icon}">
                                    <span class="subnav-link-icon">
                                        <f:if condition="{item.icon.0.extension} == 'svg'">
                                            <f:then>
                                                <bk2k:inlineSvg image="{item.icon.0}" width="{theme.subnavigation.icon.width}" height="{theme.subnavigation.icon.height}" />
                                            </f:then>
                                            <f:else>
                                                <f:image image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" width="{theme.subnavigation.icon.width}" height="{theme.subnavigation.icon.height}" />
                                            </f:else>
                                        </f:if>
                                    </span>
                                </f:if>
                                <span class="subnav-link-text">{item.title}<f:if condition="{item.current}"> <span class="sr-only">(current)</span></f:if></span>
                            </a>
                            <f:if condition="{item.children}">
                                <f:render section="SubnavigationItem" arguments="{menu: item.children, theme: theme}" />
                            </f:if>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>
</html>
