<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Add new grid with 1 column [FEATURE-grid-3]</f:comment>

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{children}">
        <div class="row {data.flexform_rowValign} {data.flexform_rowHalign} {data.flexform_rowCustom}">
            <f:for each="{children}" as="columns" key="rowNumber">
                <f:if condition="{columns}">
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.101, class: '{data.flexform_xsCol1} {data.flexform_smCol1} {data.flexform_mdCol1} {data.flexform_lgCol1} {data.flexform_xlCol1} {data.flexform_col21class}', options: options, settings: settings}"/>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>
