<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Adapt accordion for bootstrap [TASK-accordion-1]</f:comment>

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{children}">
        <div id="accordion-{f:if(condition: data._LOCALIZED_UID, then: data._LOCALIZED_UID, else: data.uid)}" class="accordion">
            <f:for each="{children}" as="columns" key="rowNumber">
                <f:if condition="{columns.101}">
                    <f:for each="{columns.101}" as="child" iteration="iteration">
                        <div class="accordion-item card">
                            <div class="accordion-header card-header" id="heading-c{child.data.uid}">
                                <h4 class="accordion-title">
                                    <a href="#collapse-{child.data.uid}" class="accordion-title-link {f:if(condition: '{iteration.isFirst} && {theme.t3basic.enable.accordionShowFirst}', else: 'collapsed')}" data-toggle="collapse" data-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}" aria-expanded="{f:if(condition: '{iteration.isFirst} && {theme.t3basic.enable.accordionShowFirst}', then: 'true', else: 'false')}" aria-controls="collapse-{child.data.uid}">
                                        <span class="accordion-title-link-text">{child.data.header}</span>
                                        <span class="accordion-title-link-state"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-{child.data.uid}" class="accordion-collapse collapse {f:if(condition: '{iteration.isFirst} && {theme.t3basic.enable.accordionShowFirst}', then: 'show')}" aria-labelledby="heading-c{child.data.uid}" data-parent="#accordion-{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}">
                                <div class="accordion-body card-body">
                                    <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>
