<f:layout name="Default"/>

<f:comment>
    Implement Bootstrap slider (https://getbootstrap.com/docs/3.3/javascript/#carousel) [FEATURE-slider-2]
    Bootstrap slider without fixed height (use class "carousel-flexible") [TASK-slider-1]
    Include JS library for slider only, if slider exists on page (asset collector) [TASK-slider-2]
</f:comment>

<f:section name="Main">
    <f:asset.script identifier="t3basic.slider.bootstrap" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.bootstrap.js" />

    <div id="carousel-{data.uid}"
         class="carousel carousel-flexible slide"
         data-ride="carousel"
         data-interval="{data.flexform_interval}"
         data-pause="{f:if(condition:data.flexform_pause, then: 'hover')}"
         data-wrap="{f:if(condition:data.flexform_wrap, then: 'true', else: 'false')}"
         data-effect="{data.flexform_effect}"
         data-controls="{data.flexform_controls}"
         {f:if(condition:data.flexform_height, then: 'style="min-height:{data.flexform_height}px"')}>
        <div class="carousel-inner">
            <f:for each="{children}" as="columns" key="rowNumber">
                <f:for each="{columns.101}" as="child" iteration="iteration">
                    <div class="item{f:if(condition: iteration.isFirst, then: ' active')} carousel-item carousel-item-type-{child.data.CType}">
                        <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                    </div>
                </f:for>
            </f:for>
        </div>
        <f:if condition="{data.flexform_controlsArrows}">
            <a class="carousel-control-prev" href="#carousel-{data.uid}" role="button" data-slide="prev">
                <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">
                    <f:translate key="slider.arrow.left" extensionName="t3basic" />
                </span>
            </a>
            <a class="carousel-control-next" href="#carousel-{data.uid}" role="button" data-slide="next">
                <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">
                    <f:translate key="slider.arrow.right" extensionName="t3basic" />
                </span>
            </a>
        </f:if>
        <f:if condition="{data.flexform_controlsIndicators}">
            <ol class="carousel-indicators">
                <f:for each="{children}" as="columns" key="rowNumber">
                    <f:for each="{columns.101}" as="child" iteration="iteration">
                        <li data-target="#carousel-{data.uid}" data-slide-to="{iteration.index}" class="{f:if(condition: iteration.isFirst, then: 'active')}"></li>
                    </f:for>
                </f:for>
            </ol>
        </f:if>
    </div>
</f:section>
