<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    Implement fully configurable slick slider (http://kenwheeler.github.io/slick/) [FEATURE-slider-1]
    Include JS library for slider only, if slider exists on page (asset collector) [TASK-slider-2]
</f:comment>

<f:layout name="Default"/>

<f:section name="Main">
    <f:asset.script identifier="slick.min" src="EXT:t3basic/Resources/Public/JavaScript/slick.min.js" />
    <f:asset.script identifier="t3basic.slider.slick" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.slick.js" />

    <f:variable name="data-slick">
        "infinite":{f:if(condition: data.flexform_infinite, then: "true", else: "false")},
        "fade":{f:if(condition: data.flexform_fade, then: "true", else: "false")},
        "dots":{f:if(condition: data.flexform_dots, then: "true", else: "false")},
        "arrows":{f:if(condition: data.flexform_arrows, then: "true", else: "false")},
        "centerMode":{f:if(condition: data.flexform_centerMode, then: "true", else: "false")},
        "adaptiveHeight":{f:if(condition: data.flexform_adaptiveHeight, then: "true", else: "false")},
        "autoplay":{f:if(condition: data.flexform_autoplay, then: "true", else: "false")},
        "prevArrow":"<a class='left carousel-control carousel-control-prev' role='button'><span class='carousel-control-icon carousel-control-prev-icon'></span><span class='sr-only'><f:translate key="slider.arrow.left" extensionName="t3basic" /></span></a>",
        "nextArrow":"<a class='right carousel-control carousel-control-next' role='button'><span class='carousel-control-icon carousel-control-next-icon'></span><span class='sr-only'><f:translate key="slider.arrow.right" extensionName="t3basic" /></span></a>"
    </f:variable>
    <f:if condition="{data.flexform_speed}">
        <f:variable name="data-slick">{data-slick},"speed":{data.flexform_speed}</f:variable>
    </f:if>
    <f:if condition="{data.flexform_fade} == 0">
        <f:variable name="data-slick">{data-slick},"slidesToShow":{data.flexform_slidesToShow}</f:variable>
        <f:if condition="{data.flexform_centerMode} == 0">
            <f:if condition="{data.flexform_slidesToShow} > 1">
                <f:variable name="data-slick">{data-slick},"slidesToScroll":{data.flexform_slidesToScroll}</f:variable>
            </f:if>
        </f:if>
        <v:variable.register.set name="imagecols" value="slider-{data.flexform_slidesToShow}"/>
    </f:if>
    <f:if condition="{data.flexform_autoplay}">
        <f:variable name="data-slick">{data-slick},"autoplaySpeed":{data.flexform_autoplaySpeed}</f:variable>
    </f:if>

    <div class="slick-gridelements"
         data-slick="{data-slick}"
         data-slick-arrowsposition="{data.flexform_arrowsPosition}"
         data-slick-slidesToShow="{data.flexform_slidesToShow}"
        {f:if(condition: '{data.flexform_slidesToShow} > 1 && {data.flexform_margin}', then: ' data-slick-margin="true"')}
        {f:if(condition: '{data.flexform_slidesToShow} > 1 && {data.flexform_centerMode}', then: ' data-slick-centermode="{data.flexform_centerModeType}"')}>
        <f:for each="{children}" as="columns" key="rowNumber">
            <f:for each="{columns.101}" as="child" iteration="iteration">
                <div class="item">
                    <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                </div>
            </f:for>
        </f:for>
    </div>
</f:section>

</html>
