<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
        xmlns:v="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:t3b="http://typo3.org/ns/SBTheke/T3basic/ViewHelpers"
        data-namespace-typo3-fluid="true">
<f:spaceless>
    <bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
    <v:variable.register.set name="variants" value="{variants}"/>
    <f:if condition="{data.colPos} != -1">
        <f:then>
            <f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
            <f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
            <f:if condition="{columnConfig}">
                <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
                <v:variable.register.set name="variants" value="{variants}"/>
            </f:if>
        </f:then>
        <f:else>
            <f:comment>For EXT:gridelements [FEATURE-grid-1]</f:comment>
            <f:variable name="variants"><v:variable.register.get name="variants"/></f:variable>
        </f:else>
    </f:if>

    <f:variable name="typeClass">frame-type-{data.CType}</f:variable>
    <f:comment>Add classes for plugin type, e.g. "frame-type-list-news_pi1" [TASK-template-4]</f:comment>
    <f:if condition="{data.CType} == 'list'">
        <f:variable name="typeClass">{typeClass} frame-type-list-{data.list_type}</f:variable>
    </f:if>
    <f:comment>EXT:gridelements [FEATURE-grid-1]</f:comment>
    <f:if condition="{data.CType} == 'gridelements_pi1'">
        <f:variable name="typeClass">{typeClass} frame-type-gridelements-{data.tx_gridelements_backend_layout}</f:variable>
    </f:if>
    <f:comment>Enable multiple selection for field "frame_class" [TASK-tca-5]</f:comment>
    <f:variable name="frameClass"><t3b:classSelect prefix=" frame-">{data.frame_class}</t3b:classSelect></f:variable>
    <f:comment>Remove unneeded classes like "frame-layout-0", "frame-space-before-none", "frame-space-after-none", "frame-background-none", "frame-no-backgroundimage" [TASK-template-3]</f:comment>
    <f:variable name="layoutClass">{f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}</f:variable>
    <f:variable name="backgroundImageClass">{f:if(condition: backgroundImage.0, then: ' frame-has-background frame-has-backgroundimage')}</f:variable>
    <f:variable name="backgroundClass">{f:if(condition: '{data.background_color_class} && {data.background_color_class} != "none"', then: ' frame-has-background frame-background-{data.background_color_class}')}</f:variable>
    <f:variable name="spaceBeforeClass">{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}</f:variable>
    <f:variable name="spaceAfterClass">{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}</f:variable>

    <f:if condition="{data.CType} == 'shortcut'">
        <f:then>
            <a id="c{data.uid}"></a>
            <f:if condition="{data._LOCALIZED_UID}">
                <a id="c{data._LOCALIZED_UID}"></a>
            </f:if>
            <f:if condition="{data.space_before_class}">
                <div class="{spaceBeforeClass}"></div>
            </f:if>
            <f:render section="Before" optional="true">
                <f:render partial="DropIn/Before/All" arguments="{_all}" />
            </f:render>
            <f:render section="Header" optional="true">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:render>
            <f:render section="Main" optional="true" />
            <f:render section="Footer" optional="true">
                <f:render partial="Footer/All" arguments="{_all}" />
            </f:render>
            <f:render section="After" optional="true">
                <f:render partial="DropIn/After/All" arguments="{_all}" />
            </f:render>
            <f:if condition="{data.space_after_class}">
                <div class="{spaceAfterClass}"></div>
            </f:if>
        </f:then>
        <f:else>
            <div id="c{data.uid}" class="frame {typeClass}{frameClass}{layoutClass}{backgroundClass}{backgroundImageClass}{spaceBeforeClass}{spaceAfterClass}">
                <f:render partial="Frame/General/BackgroundImage" arguments="{_all}" />
                <div class="frame-container">
                    <div class="frame-inner">
                        <f:if condition="{data._LOCALIZED_UID}">
                            <a id="c{data._LOCALIZED_UID}"></a>
                        </f:if>
                        <f:render section="Before" optional="true">
                            <f:render partial="DropIn/Before/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Header" optional="true">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Main" optional="true" />
                        <f:render section="Footer" optional="true">
                            <f:render partial="Footer/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="After" optional="true">
                            <f:render partial="DropIn/After/All" arguments="{_all}" />
                        </f:render>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:spaceless>
</html>
