<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-container form-identifier-{form.formDefinition.identifier}">
    <formvh:renderRenderable renderable="{form}">
        <formvh:form
            object="{form}"
            action="{form.renderingOptions.controllerAction}"
            method="{form.renderingOptions.httpMethod}"
            id="{form.identifier}"
            section="{form.identifier}"
            enctype="{form.renderingOptions.httpEnctype}"
            addQueryString="{form.renderingOptions.addQueryString}"
            argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
            additionalParams="{form.renderingOptions.additionalParams}"
            novalidate="1"
        >
            <f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />
            <div class="form-group row actions">
                <div class="col-sm-9 offset-sm-3">
                    <f:render partial="Form/Navigation" arguments="{form: form}" />
                </div>
            </div>
        </formvh:form>
    </formvh:renderRenderable>
</div>
</html>
