<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:v="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:if condition="{files}">

    <f:variable name="imagecols">1</f:variable>
    <f:if condition="{files->f:count()} > 1">
        <f:variable name="imagecols">{data.imagecols as integer}</f:variable>
    </f:if>

    <f:comment>Slider with content element "Images Only" and slick [FEATURE-slider-3]</f:comment>
    <f:if condition="{v:variable.register.get(name: 'imagecols')}">
        <f:variable name="imagecols">{v:variable.register.get(name: 'imagecols')}</f:variable>
    </f:if>

    <f:variable name="columnConfig">{settings.gallery.columns.{imagecols}}</f:variable>
    <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />

    <f:switch expression="{data.frame_class}">
        <f:comment>Slider with content element "Images Only" and slick [FEATURE-slider-3]</f:comment>
        <f:case value="slider">
            <f:asset.script identifier="slick.min" src="EXT:t3basic/Resources/Public/JavaScript/slick.min.js" />
            <f:asset.script identifier="t3basic.slider.slick" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.slick.js" />
            <div class="slick-images">
                <f:for each="{files}" as="file">
                    <div class="item">
                        <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: variants}" />
                    </div>
                </f:for>
            </div>
        </f:case>
        <f:defaultCase>
            <div class="gallery-row">
                <f:for each="{files}" as="file" iteration="fileIteration">
                    <div class="gallery-item {columnConfig.class}">
                        <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: variants}" />
                    </div>
                </f:for>
            </div>
        </f:defaultCase>
    </f:switch>

</f:if>
</html>
