<f:layout name="General" />
<f:comment>Optimize template for date menu: Use accordion [FEATURE-newstemplate-1]</f:comment>

<f:section name="content">
    <div class="news-date-menu">
        <div id="accordion-news-date-menu" class="accordion">
            <f:if condition="{settings.datemenu.accordionShowFirst}">
                <f:variable name="activeElement"><v:iterator.first><v:iterator.keys>{data.single}</v:iterator.keys></v:iterator.first></f:variable>
            </f:if>
            <f:if condition="{overwriteDemand.year}">
                <f:variable name="activeElement" value="{overwriteDemand.year}" />
            </f:if>
            <f:for each="{data.single}" key="year" as="months" iteration="iteration">
                <div class="accordion-item card">
                    <div class="accordion-header card-header" id="accordion-heading-news-date-menu-{year}">
                        <h4 class="accordion-title">
                            <a href="#accordion-news-date-menu-{year}" class="accordion-title-link {f:if(condition: '{activeElement} == {year}', else: 'collapsed')}" role="button" data-toggle="collapse" data-parent="#accordion-news-date-menu" aria-expanded="false" aria-controls="accordion-news-date-menu-{year}">
                                <span class="accordion-title-link-text">{year}</span>
                                <span class="accordion-title-link-state"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="accordion-news-date-menu-{year}" class="accordion-collapse collapse {f:if(condition: '{activeElement} == {year}', then: 'show')}" aria-labelledby="accordion-heading-news-date-menu-{year}" data-parent="#accordion-news-date-menu">
                        <div class="accordion-body card-body">
                            <ul class="list-unstyled">
                                <f:for each="{months}" key="month" as="count">
                                    <li class="item{f:if(condition: '{0:year, 1:month} == {0:overwriteDemand.year, 1:overwriteDemand.month}', then: ' itemactive')}">
                                        <f:link.action pageUid="{listPid}" arguments="{overwriteDemand: {year: year, month: month}}">
                                            <f:translate key="month.{month}" /> {year}
                                        </f:link.action>
                                        ({count} <f:translate key="{f:if(condition: '{count} == 1', then: 'entry', else: 'entries')}" />)
                                    </li>
                                </f:for>
                            </ul>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:section>
