<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    News list with slider [FEATURE-news-4]
    News list with 2 and 3 columns with Bootstrap Cards [FEATURE-news-5]
</f:comment>

<f:layout name="General" />

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <f:if condition="{settings.templateLayout} == 'slider'">
                <f:asset.script identifier="slick.min" src="EXT:t3basic/Resources/Public/JavaScript/slick.min.js" />
                <f:asset.script identifier="t3basic.slider.slick" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.slick.js" />
            </f:if>
            <div class="news-list-view {f:if(condition: '{settings.templateLayout} == \'slider\'', then: ' carousel')}{f:if(condition: settings.templateLayout, then: ' news-list-view-layout-{settings.templateLayout}', else: ' news-list-view-layout-default')}">
                <f:if condition="{settings.hidePagination}">
                    <f:then>
                        <div class="articles">
                            <f:render section="news" arguments="{news: news, settings: settings}" />
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <div class="articles">
                            <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </f:for>
                        </div>
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <p class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </p>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>


<f:section name="news">
    <f:switch expression="{settings.templateLayout}">
        <f:case value="grid2">
            <f:for each="{news->v:iterator.chunk(count: 2)}" as="newsCycle" iteration="iterator">
                <div class="card-deck">
                    <f:for each="{newsCycle}" as="newsItem">
                        <f:render partial="List/ItemCard" arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
                    </f:for>
                </div>
            </f:for>
        </f:case>
        <f:case value="grid3">
            <f:for each="{news->v:iterator.chunk(count: 3)}" as="newsCycle" iteration="iterator">
                <div class="card-deck">
                    <f:for each="{newsCycle}" as="newsItem">
                        <f:render partial="List/ItemCard" arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
                    </f:for>
                </div>
            </f:for>
        </f:case>
        <f:case value="slider">
            <f:for each="{news}" as="newsItem" iteration="iterator">
                <div class="carousel-item-slick">
                    <div class="carousel-content">
                        <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
                    </div>
                </div>
            </f:for>
        </f:case>
        <f:defaultCase>
            <f:for each="{news}" as="newsItem" iteration="iterator">
                <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings, iterator: iterator}" />
            </f:for>
        </f:defaultCase>
    </f:switch>
</f:section>

</html>
