<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Optimize templates [TASK-newstemplate-1]</f:comment>
<f:layout name="General" />

<f:section name="content">
    <div class="news-search-form">
        <f:form object="{search}" name="search" pageUid="{settings.listPid}">
            <fieldset>
                <div class="form-group">
                    <div class="input-group">
                        <label for="news-subject" class="sr-only"><f:translate key="search-subject" /></label>
                        <f:form.textfield id="news-subject" property="subject" class="form-control" />
                        <span class="input-group-btn">
                            <f:form.submit value="{f:translate(key: 'search-start')}" class="btn btn-primary" />
                        </span>
                    </div>
                </div>
            </fieldset>
        </f:form>
    </div>
</f:section>
</html>
