<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Adapt templates for Bootstrap [TASK-form-9]
    - Horizontal form
    - No padding-top for multi checkboxes and radio buttons, see https://getbootstrap.com/docs/4.5/components/forms/#horizontal-form
</f:comment>
<f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
    <div class="form-element form-element-{element.identifier} form-element-type-{element.type -> bk2k:format.lowercaseDashed()} form-group row{f:if(condition: validationResults.errors.0, then: ' has-error')}">
        <f:if condition="{doNotShowLabel} != 1">
            <label class="col-sm-3 col-form-label{f:if(condition: '{element.type} == \'MultiCheckbox\' || {element.type} == \'RadioButton\'', then: ' pt-0')}" for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'label')}<f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if></label>
        </f:if>
        <div class="col-sm-9{f:if(condition: doNotShowLabel, then: ' offset-sm-3')}">
            <f:format.raw>
                {elementContent}
                <f:if condition="{validationResults.flattenedErrors}">
                    <div class="invalid-feedback">
                        <f:for each="{validationResults.errors}" as="error">
                            {formvh:translateElementError(element: element, error: error)}
                            <br>
                        </f:for>
                    </div>
                </f:if>
            </f:format.raw>
            <f:if condition="{element.properties.elementDescription}">
                <small class="form-text text-muted">{formvh:translateElementProperty(element: element, property: 'elementDescription')}</small>
            </f:if>
        </div>
    </div>
</f:form.validationResults>
</html>
